################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Korrika Ficheros/Ex31 Korrika Alumnado/Ex31 Korrika2024 Alumnado/.vs/Korrika/FileContentIndex/c188269a-00bb-41d6-9b42-d7c8b6f09f7e.vsidx
/Korrika Ficheros/Ex31 Korrika Alumnado/Ex31 Korrika2024 Alumnado/.vs/Korrika/FileContentIndex/8518a479-f195-463c-86dd-5e634fc7e475.vsidx
