################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Korrika Ficheros/Ex31 Korrika Alumnado/Ex31 Korrika2024 Alumnado/.vs/Korrika/FileContentIndex/c188269a-00bb-41d6-9b42-d7c8b6f09f7e.vsidx
/Korrika Ficheros/Ex31 Korrika Alumnado/Ex31 Korrika2024 Alumnado/.vs/Korrika/FileContentIndex/8518a479-f195-463c-86dd-5e634fc7e475.vsidx
/Korrika Ficheros/Ex31 Korrika Alumnado/Ex31 Korrika2024 Alumnado/.vs/Korrika/FileContentIndex/8a72a07e-4b4b-4c5c-a9c1-bb51c6d4839c.vsidx
/Korrika Ficheros/Ex31 Korrika Alumnado/Ex31 Korrika2024 Alumnado/.vs/Korrika/FileContentIndex/7013f8dd-9b71-4c85-948c-2e8ce443cee4.vsidx
/Korrika Ficheros/Ex31 Korrika Alumnado/Ex31 Korrika2024 Alumnado/.vs/Korrika/FileContentIndex/da49412e-0607-4933-a160-2f7748e835da.vsidx
/Korrika Ficheros/Ex31 Korrika Alumnado/Ex31 Korrika2024 Alumnado/.vs/Korrika/FileContentIndex/7236b064-812b-4796-bc01-a66d72af62c6.vsidx
